
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}


.header, .footer {
    background-color: #B2E0E6;
    padding: 40px;

}

.header img {
    float: left;
    width: 80px;
    margin-left: 20px;
}

.header h1, .header h3 {
    margin: 5px 0;
}


.container {
    padding: 20px;
}

.box-menu {
    background-color: #D32F2F; 
    color: white;
    padding: 10px;
    display: inline-block;
    width: 150px;
    border: 2px solid #000;
}

.box-menu p {
    margin: 5px 0;
    font-size: 12px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.footer {
    font-weight: bold;
    font-size: 18px;
    height: 100vh;
    display :flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}